In [1]:
import pandas as pd

In [2]:
distance_value = 0.009

def amenities_check(lat, lon, amenities):
    # Creating range depending on our distance value
    lat_lower = lat - distance_value
    lat_higher = lat + distance_value
    lon_lower = lon - distance_value
    lon_higher = lon + distance_value
    
    # Filtering out any amenities not in our range then grouping by amenity type and counting how many there are of each type
    amenities = amenities[(lat_lower <= amenities['latitude']) & (amenities['latitude'] <= lat_higher) & (lon_lower <= amenities['longitude']) & (amenities['longitude'] <= lon_higher)]
    amenities = amenities.groupby(['amenityType']).count()['latitude']

    # Initializing our return dictionary
    return_dictionary = {'food': 0, 'place_of_worship': 0, 'post_box': 0, 'car_services': 0, 'parking': 0, 'entertainment': 0, 'finance': 0, 'education': 0, 'animals': 0, 'rentals': 0, 'playgrounds': 0, 'negative_amenities': 0, 'storage': 0, 'self_care': 0, 'shopping': 0, 'transportation': 0, 'emergency': 0, 'healthcare': 0, 'child_services': 0}
    
    # Looping through Pandas series and adding value to return dictionary if applicable then returning the dictionary
    for amenity, value in amenities.items():
        return_dictionary[amenity] = value

    return return_dictionary


# Moving house and amenities data to dataframes
house_data = pd.read_csv('kc_house_data.csv')
amenities = pd.read_csv('rqd_data.csv')

# Applying amenities_check to each row and sorting results in a 'dictionary' column, and then exploding that column 
house_data['dictionary'] = house_data.apply(lambda row: amenities_check(row.lat, row.long, amenities), axis=1)
# adapted code from:
# https://stackoverflow.com/questions/38231591/split-explode-a-column-of-dictionaries-into-separate-columns-with-pandas
house_data2 = pd.json_normalize(house_data['dictionary'])

# Appending the exploded dictionary data frame with our original house data frame
house_data = pd.concat([house_data, house_data2], axis=1)
house_data.to_csv('house_data.csv')

In [3]:
house_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,rentals,playgrounds,negative_amenities,storage,self_care,shopping,transportation,emergency,healthcare,child_services
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,0,0,1,0,0,5,0,0,0,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,0,0,0,0,0,0,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,0,0,0,0,0,0,0,1,1,0
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,0,0,0,0,0,1,0,0,4,0
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,0,0,0,0,0,0,0,0,2,0
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,0,0,0,0,0,0,0,0,0,1
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,0,0,0,0,0,0,0,0,2,0