In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline
from sklearn import linear_model

In [2]:
house_data = pd.read_csv('final_house_data.csv')
#house_data

,Unnamed: 0,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,animals,negative_amenities,storage,self_care,shopping,transportation,emergency,healthcare,child_services,age
0,0,2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1,0,0,0,0,0,0,0,59
1,1,2014,538000.0,3,2.25,2570,7242,2.0,0,0,...,0,0,0,0,0,0,0,1,0,23
2,2,2015,180000.0,2,1.00,770,10000,1.0,0,0,...,0,0,0,0,0,0,0,0,0,82
3,3,2014,604000.0,4,3.00,1960,5000,1.0,0,0,...,0,1,0,0,5,0,0,0,0,49
4,4,2015,510000.0,3,2.00,1680,8080,1.0,0,0,...,1,0,0,0,0,0,0,3,0,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21569,21608,2014,360000.0,3,2.50,1530,1131,3.0,0,0,...,1,0,0,0,0,0,1,1,0,5
21570,21609,2015,400000.0,4,2.50,2310,5813,2.0,0,0,...,1,0,0,0,1,0,0,4,0,1
21571,21610,2014,402101.0,2,0.75,1020,1350,2.0,0,0,...,0,0,0,0,0,0,0,2,0,5
21572,21611,2015,400000.0,3,2.50,1600,2388,2.0,0,0,...,0,0,0,0,0,0,0,0,1,11
21573,21612,2014,325000.0,2,0.75,1020,1076,2.0,0,0,...,0,0,0,0,0,0,0,2,0,6

In [3]:
X = house_data[['date','bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built',
       'sqft_living15', 'sqft_lot15', 'food', 'place_of_worship', 'post_box',
       'car_services', 'parking', 'entertainment', 'finance', 'education',
       'animals', 'negative_amenities', 'storage', 'self_care', 'shopping',
       'transportation', 'emergency', 'healthcare', 'child_services', 'age']]
y = house_data['price']

In [4]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [5]:
model_with_amenities = make_pipeline(StandardScaler(), linear_model.LinearRegression())
model_with_amenities.fit(X_train,y_train)
print(model_with_amenities.score(X_valid,y_valid), 
      model_with_amenities.score(X_train,y_train))

0.6787213612021736 0.6745242552852668

In [6]:
X = house_data[['date','bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built',
       'sqft_living15', 'sqft_lot15', 'age']]
y = house_data['price']

In [7]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [8]:
model_without_amenities = make_pipeline(StandardScaler(), linear_model.LinearRegression())
model_without_amenities.fit(X_train,y_train)
print(model_without_amenities.score(X_valid,y_valid), 
      model_without_amenities.score(X_train,y_train))

0.6521586100062354 0.6576008554107371